h1 Good news! It seems to have worked
p Here is the user object that we got:
pre
  code!= JSON.stringify(user, null, 4)
br
button(onclick='window.opener.postMessage("failure", "*"); window.close()') Not quite right
button(onclick='window.opener.postMessage("success", "*"); window.close()') Looks Good!
